doctype html
html(lang="en")
  head
    title CraftML
    link(href="/css/custom.css" rel="stylesheet")
  body
    div#gist
        script(src=src)
    div#craftml!= '<!-- ' + contents + '-->'
    script(src="/js/bundle.js")
    script(type='text/javascript').
        var options = {
            useWorker: true,
            fitTo: 'container',
            hideEditor: true,
            basePath: '#{basePath}'
        }
        craft.edit('#craftml', options)
