doctype html
html(lang="en")
  head
    title CraftML
    link(href="css/custom.css" rel="stylesheet")
  body    
    div#craftml
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript').
        socket = io('http://localhost:#{port}')
    script(src="js/bundle.js")
    script(type='text/javascript').        
        var options = {
            useWorker: true,
            fitTo: 'container',
            hideEditor: false
        }
        craft.editLocally('#craftml', options)
