doctype html
html(lang="en")
  head
    title CraftML
    link(href="css/custom.css" rel="stylesheet")
    script(src="js/three.min.js")
    script(src="js/STLLoader.js")
    script(src="js/TrackballControls.js")
    script(src="js/stlviewer.js")
    script(src="js/jquery.min.js")
  body
    div#preview
    div#result

    script
        | var names = 
        != JSON.stringify(names)        
    script(src="js/main.js")
